:root {
  /* Fondo y Texto Base */
  --bg-color: #000000;
  --text-color: #ffffff;
  
  /* PALETA TIGRE */
  /* Este es el naranja potente (Tiger Orange) */
  --gold-primary: #FC6A03;      
  
  /* Este es el dorado/ámbar que ya tenías, servirá de transición */
  --gold-secondary: #EC9706;    
  
  /* Fuentes y configuración base */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}